# Общие настройки приложения
APP_TITLE=Учет фактов простоя ИС
APP_DESCRIPTION=Журнал учета фактов простоя информационной системы УК ПИФ
SLEEP_TEST_CONNECTION=20  # Интервал тестирования доступа к Интернет в секундах
TIMEZONE_OFFSET=5

# Переменные приложения
DEBUG=True  # Включение(True) | Выключение(False) режима отладки
SECRET_KEY=ccb889a56e20c67e12e64f51caa6b98877d73d339db23654b42e52a84118f2ab  # Cекретный ключ для генерации jwt-токенов
#ROOT_PATH=/api  # Для корректной работы без прокси ставится пустая строка, для работы с прокси "/api/"

# Переменные базы данных
DB_BACKUP=False  # Включение(True) | Выключение(False) режим авто архивирования БД
DB_BACKUP_DIR=db_backups # Название каталога для архивов БД
MAX_DB_BACKUP_FILES=50  # Максимальное количество файлов бэкапа БД
SLEEP_DB_BACKUP=43200  # Интервал авто архивирования БД в секундах (43200 == 12 часов)
DATABASE_NAME=tech_accident_db_local.db
DATABASE_URL=sqlite+aiosqlite:///./tech_accident_db_local.db
#POSTGRES_DB=tech_accident_db_local  # Название базы данных
#POSTGRES_USER=postgres  # Логин для подключения к базе данных
#POSTGRES_PASSWORD=postgres  # Пароль для подключения к базе данных
#DB_HOST=localhost  # Название сервиса (контейнера)
#DB_PORT=5432  # Порт для подключения к базе данных

# Настройки логирования
LOG_LEVEL=INFO  # Уровень логирования
LOG_DIR=logs  # Директория для сохранения логов. По умолчанию - logs в корневой директории
LOG_FILE=app.log  # Название файла с логами
LOG_FILE_SIZE=10485760  # Максимальный размер файла с логами, в байтах
LOG_FILES_TO_KEEP=5  # Количество сохраняемых файлов с логами


# Настройки используемых тех.процессов
TECH_PROCESS={"DU_25": "25", "SPEC_DEP_26": "26", "CLIENTS_27": "27"}

# Настройки угроз
RISK_SOURCE="{\"ROUTER\": \"Риск инцидент: сбой в работе рутера.\",
\"EQUIPMENT\": \"Риск инцидент: отказ оборудования.\",
\"BROKER\": \"Риск инцидент: на стороне брокер.\",
\"PO\": \"Риск инцидент: ПО.\",
\"PROVAIDER\": \"Риск инцидент: сбой на стороне провайдер.\",
\"ANOTHER\": \"Иное\"}"

# Настройки персонала для постановки задач (вставить строку из эндпоинта /api/users и разбить по указанному примеру)
STAFF="{\"1\": \"user@example.com\", \"2\": \"auto@example.com\",
 \"3\": \"true2@example.com\", \"4\": \"user5@example.com\",
  \"5\": \"test_user_ex@example.com\", \"6\": \"user54378@example.com\"}"